/*Стилізація верхнього меню секції HEADER*/
/*Перемінні*/
:root{
    --color-text: #2196F3;
    --color-text-logo: black;  
    --color-text-menu:#212121;
    --color-text-mail-tel:#757575;
    --color-text-section: #212121;
    --color-sections-text:#757575;
    --text-color-hero:#FFFFFF;
    --color-text-footer-logo-s: white;

    --color-border-header: #ECECEC;
    --color-border-portfolio: #EEEEEE;

    --background-color-hero: #2f303a;
    --background-color-btn: #188ce8;
    --background-color-footer:#2F303A;
    --background-color-section3: #F5F4FA;
    --background-color-modal-btn-potfolio:#2196F3;

    --font-family-text: Roboto;
    --font-family-logo: Raleway;
}
/*Обнуление отступов*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img{
    display: block;
}
/*Обнуление отступов*/
.container
{
    width: 1200px;
    margin: 0 auto;
}
.body{
    font-family: 'Roboto', sans-serif;
    font-style:normal;
    font-weight: 500;
    font-size: 14px;
    color:var(--color-sections-text)
}
/*header*/
.header{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-border-header);
}
.header-container
{
    display: flex;
    align-items: center;
}
.navigation
{
    display: flex;
    align-items: center;
}
.menu
{
    display: flex;
    align-items: center;
}
.adress
{
    display: flex;
    align-items: center;
}

.logo
{
    margin-right: 93px;
}
.list-menu:not(:last-child)
{
    margin-right: 50px;
}

.list-adress
{
    list-style: none; /*прибирає точки в списку*/
    margin-right: auto;
}
.mail-link
{
    margin-left: 331px;
}
.tel-link
{
    margin-left: 50px;
}
/*Логотип WebStudio*/
.logo{
    font-family: Raleway; 
    font-style: normal; 
    font-weight: bold;
    font-size: 26px; 
    line-height: 31px;

/* identical to box height */ 
    letter-spacing: 0.03em;
    color:var(--color-text);
    text-decoration: none
    text-shadow: 0 4 4
    rgba(0,0.0,0.25);
    text-decoration: none /*прибирає підкреслення*/
    }
.logo-web
{
    color:var(--color-text);
}
.logo-s
{
    color:var(--color-text-logo);
}
/*Стилізація блокім меню: Студія,Потфоліо...*/
.menu-link{
    line-height: 1.14; 
    letter-spacing: 0.02em;
    
    color: var(--color-text-menu);
    text-decoration: none
}
.menu-link:hover,
.menu-link:focus{
    color:var(--color-text);
}

.menu-link.current{
    color: var(--color-text);
}

/*Стилізація блоків меню тел, майл*/
.mail-link{
    line-height: 1.14; 
    letter-spacing: 0.02em;
    
    color: var(--color-text-mail-tel);
    text-decoration: none
}
.tel-link{
    line-height: 1.14; 
    letter-spacing: 0.02em;
    color: var(--color-text-mail-tel);
    text-decoration: none;
}
.mail-link:hover,
.mail-link:focus{
    color: var(--color-text);
}
.tel-link:hover,
.tel-link:focus{
    color: var(--color-text);
}


/*Стилізація секції HERO*/
.section-hero{
    background: var(--background-color-hero);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-z{
    align-items: center;
    width: 696px;
    margin-left: 245px;
    margin-bottom: 30px;
}
.hero-z{
    font-style: normal; 
    font-weight: 900; 
    font-size: 44px; 
    line-height: 1.36;
    color: var(--text-color-hero);
text-transform: uppercase;
} 

.modal-btn 
{
    background: var(--background-color-btn);  
    border-radius:4px ; 
    padding: 10px 32px; 
    font-weight: bold; 
    font-size: 16px; 
    line-height: 30px;
 /* identical to box height, 187% */
    align-items: center; 
    text-align: center; 
    letter-spacing: 0.06em;
    border-radius: 4px;
    color: var(--text-color-hero);
    cursor: pointer; 
}

/*Стилізація секцій */
/*Секція особенності Section-1*/
.section
{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-container
{
    display: flex;
    align-items: center;
}
.features-menu
{
    display: flex;
    align-items: center;
}
/*.list{
    width: 270px;
}
.list:not(:last-child)
{
    margin-right: 30px;
}

*/
.hero-list{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-section);
}
.hero-list-item{
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-sections-text);
}

/*Секція чим займаємося Section-2*/
.section-work{ 
    font-weight: bold; 
    font-size: 36px; 
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-text-section);
    margin-bottom: 50px;
    text-align: center;
}
.work-section{
    display: flex;
    align-items: center;
}
.list1:not(:last-child){
    margin-right: 30px;
    list-style: none;
}

/*Секція наша команда Section-3*/
.section3{
    background: var(--background-color-section3);
}
.team-work{
    display: flex;
    align-items: center;
}
.section-our-team{ 
    font-size: 16px; 
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-text-section);
    margin-top: 30px;
    margin-bottom: 10px;
}
.section-profession{
    font-size: 16px; 
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--color-sections-text);
}
/*Стилізація секяції footer*/

.footer{
    background: var(--background-color-footer);
    padding-top: 60px;
    right: 252px;
}
/*.footer-container
{
    width: 1200px;
    right: 252px;
}*/
.logo-footer{
    font-family: Raleway; 
    font-style: normal; 
    font-weight: bold;
    font-size: 26px; 
    line-height: 1.19;
/* identical to box height */ 
    letter-spacing: 0.03em;
    color: var(--color-text);
    text-decoration: none
    text-shadow: 0 4 4
    rgba(0,0.0,0.25);
    text-decoration: none /*прибирає підкреслення*/ 
}
.logo-footer-web{
    color: var(--color-text);
}
.logo-footer-s{
    color: var(--color-text-footer-logo-s);
}
.adress-list{
    padding-top:  20px;
    padding-bottom: 60px;
}
.footer-adres-1{
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-hero);
    text-decoration: none;
}
.footer-adres-2{
    font-size: 14px; 
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;  
}
.list:not(:last-child){
    margin-bottom: 9px;
    margin-left: 8px;
}

/*portfolio.html*/
/*Стилізація та сторінки portfolio*/

.modal-btn-portfolio{
    padding: 6px 22px;
    font-size: 14px; 
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--color-text-menu);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}   
.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus
{
    color: var(--text-color-hero);
    background: var(--background-color-modal-btn-potfolio);
}
.portfolio-list{ 
    margin-top: 20px;
    margin-left: 24px;
    margin-right: 24px; 
    font-weight: bold; 
    font-size: 18px; 
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-text-section);
}
.portfolio-list-item{   
    margin-top: 4px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    font-size: 16px; 
    line-height: 1.85;
    letter-spacing: 0.06em;
    color: var(--color-sections-text);
}
.list{
    list-style: none; /*прибирає точки в списку*/
}
.porfolio-menu{
    display: flex;
    align-items: center;
    justify-content: center;/*робить контент по центру*/
}
.list-portfolio-menu{
    margin-top: 94px;
    margin-bottom: 34px;
    margin-left: 8px;
}
.portfolio-content{   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 94px;
}
.portfolio-list-content{   
    margin-right: 30px;
    margin-bottom: 30px;
}
.border-portfolio{
    border: 1px solid;
    border-color: var(--color-border-portfolio);    
}